main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #4b145b;
}

main > .content-wrapper {
  padding: 2.5rem 2rem;
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 1rem 2rem;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  width: 70%;
  height: 80%;
  margin: auto;
}

.content-wrapper h1 {
  flex: 1;
}

.content-wrapper .questions {
  flex: 3;
}